<a href="https://colab.research.google.com/github/LeechXDD/9417_Pro_Project/blob/main/%E2%80%9CKaggleDatasetDownload_ipynb%E2%80%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This file is used to download Kaggle datasets into a personal Google Drive.
In order to use this, we need a kaggle.json file, which contains the API credentials.
To obtain a kaggle.json file, sign into your Kaggle account and go to your profile, then 'My Account'. Under the API section, click 'Create New API Token' to generate the kaggle.json file. Afterwards, save it in the same directory as this .ipynb file.

In [1]:
!pip install -q kaggle
from google.colab import files
files.upload()
##change to your current directory
!mkdir -p ~/.kaggle

!cp  kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"siyuanleonwu","key":"93cc14846b70adfe42340d86f833f250"}'}

In [3]:
##change to your current directory. Afterall, unzip your dataset
!kaggle competitions download -c predict-student-performance-from-game-play -p /content/kaggle/9417project/
!unzip /content/kaggle/9417project/predict-student-performance-from-game-play.zip

Downloading predict-student-performance-from-game-play.zip to /content/kaggle/9417project
100% 967M/968M [00:39<00:00, 35.3MB/s]
100% 968M/968M [00:39<00:00, 25.6MB/s]

In [ ]:
!pip install tensorflow_addons
!pip install tensorflow_decision_forests
!pip install tensorflow
!pip install tensorflow --upgrade
!pip install keras --upgrade

In [7]:
import tensorflow as tf
import tensorflow_decision_forests as tfdf

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
dtypes={
    'elapsed_time':np.int32,
    'event_name':'category',
    'name':'category',
    'level':np.uint8,
    'room_coor_x':np.float32,
    'room_coor_y':np.float32,
    'screen_coor_x':np.float32,
    'screen_coor_y':np.float32,
    'hover_duration':np.float32,
    'text':'category',
    'fqid':'category',
    'room_fqid':'category',
    'text_fqid':'category',
    'fullscreen':'category',
    'hq':'category',
    'music':'category',
    'level_group':'category'}
dataset_df = pd.read_csv('train.csv', dtype=dtypes)

In [9]:
print("Full train dataset shape is {}".format(dataset_df.shape))
dataset_df.head(5)

Full train dataset shape is (26296946, 20)

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,0,0,cutscene_click,basic,0,NaN,-413.991394,-159.314682,380.0,494.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,1,0-4
1,20090312431273200,1,1323,person_click,basic,0,NaN,-413.991394,-159.314682,380.0,494.0,NaN,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
2,20090312431273200,2,831,person_click,basic,0,NaN,-413.991394,-159.314682,380.0,494.0,NaN,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
3,20090312431273200,3,1147,person_click,basic,0,NaN,-413.991394,-159.314682,380.0,494.0,NaN,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
4,20090312431273200,4,1863,person_click,basic,0,NaN,-412.991394,-159.314682,381.0,494.0,NaN,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4

In [24]:
labels = pd.read_csv('train_labels.csv')
labels['session'] = labels.session_id.apply(lambda x: int(x.split('_')[0]) )
labels['q'] = labels.session_id.apply(lambda x: int(x.split('_')[-1][1:]) )
labels.head(5)

             session_id  correct            session  q
0  20090312431273200_q1        1  20090312431273200  1
1  20090312433251036_q1        0  20090312433251036  1
2  20090312455206810_q1        1  20090312455206810  1
3  20090313091715820_q1        0  20090313091715820  1
4  20090313571836404_q1        1  20090313571836404  1

In [25]:
print("Full label dataset shape is {}".format(labels.shape))

Full label dataset shape is (424116, 4)

In [11]:
CATEGORICAL = ['event_name', 'name','fqid', 'room_fqid', 'text_fqid']
NUMERICAL = ['elapsed_time','level','page','room_coor_x', 'room_coor_y',
        'screen_coor_x', 'screen_coor_y', 'hover_duration']

In [12]:
def feature_engineer(dataset_df):
    dfs = []
    for c in CATEGORICAL:
        tmp = dataset_df.groupby(['session_id','level_group'])[c].agg('nunique')
        tmp.name = tmp.name + '_nunique'
        dfs.append(tmp)
    for c in NUMERICAL:
        tmp = dataset_df.groupby(['session_id','level_group'])[c].agg('mean')
        dfs.append(tmp)
    for c in NUMERICAL:
        tmp = dataset_df.groupby(['session_id','level_group'])[c].agg('std')
        tmp.name = tmp.name + '_std'
        dfs.append(tmp)
    dataset_df = pd.concat(dfs,axis=1)
    dataset_df = dataset_df.fillna(-1)
    dataset_df = dataset_df.reset_index()
    dataset_df = dataset_df.set_index('session_id')
    return dataset_df

In [13]:
dataset_df = feature_engineer(dataset_df)
print("Full prepared dataset shape is {}".format(dataset_df.shape))

Full prepared dataset shape is (70686, 22)

In [8]:
dataset_df.head(25)

,level_group,event_name_nunique,name_nunique,fqid_nunique,room_fqid_nunique,text_fqid_nunique,elapsed_time,level,page,room_coor_x,...,screen_coor_y,hover_duration,elapsed_time_std,level_std,page_std,room_coor_x_std,room_coor_y_std,screen_coor_x_std,screen_coor_y_std,hover_duration_std
session_id,,,,,,,,,,,,,,,,,,,,,
20090312431273200,0-4,10,3,30,7,17,8.579356e+04,1.945455,-1.000000,7.701275,...,383.044861,2389.500000,49246.539458,1.230975,-1.000000,399.296038,129.292411,214.871000,104.082743,3227.370757
20090312431273200,13-22,10,3,49,12,35,1.040601e+06,17.402381,-1.000000,-130.347168,...,379.301025,899.925903,126666.129584,2.358652,-1.000000,622.061374,230.370874,240.280218,99.067861,1305.088265
20090312431273200,5-12,10,3,39,11,24,3.572052e+05,8.054054,-1.000000,14.306062,...,378.784912,969.333313,80175.676658,2.096919,-1.000000,357.227701,137.409476,203.268560,120.255453,1316.408315
20090312433251036,0-4,11,4,22,6,11,9.763342e+04,1.870504,0.000000,-84.045959,...,370.723083,1378.750000,67372.714092,1.232616,0.000000,445.980041,156.186242,252.554707,121.062929,2114.876406
20090312433251036,13-22,11,6,73,16,43,2.498852e+06,17.762529,5.100000,-30.762283,...,387.930084,720.384949,777382.529186,1.825923,0.863075,529.575656,234.279590,259.288856,133.345693,1990.705518
20090312433251036,5-12,11,4,45,11,22,5.549040e+05,8.840506,2.142857,50.284168,...,375.771088,824.096802,159319.587112,2.134412,1.069045,377.074056,160.557098,232.280908,132.195573,1836.236232
20090312455206810,0-4,9,3,22,6,12,2.023980e+05,1.604027,-1.000000,-209.830322,...,481.268951,3145.666748,121848.824074,1.223745,-1.000000,478.652392,161.438387,459.750352,177.665582,4575.148668
20090312455206810,13-22,11,4,47,12,30,9.586433e+05,17.706044,5.230769,-58.655510,...,521.446716,1055.319946,125153.779971,2.462695,0.908083,642.936291,243.042697,395.599984,181.509084,1403.679502
20090312455206810,5-12,11,4,41,11,19,5.073953e+05,8.342857,2.333333,80.422424,...,510.330261,783.038452,76156.386207,2.181517,1.032796,363.422530,180.862289,346.987576,228.421676,825.029526
20090313091715820,0-4,11,4,24,6,14,6.208740e+04,1.789773,0.000000,-111.962730,...,441.476196,1917.142822,40315.603807,1.221759,0.000000,422.766428,161.696460,290.932896,150.691736,1949.073577
20090313091715820,13-22,11,4,54,14,36,1.284812e+06,17.344196,4.000000,-117.528305,...,439.860626,1038.421021,199823.575197,2.642213,0.000000,585.545354,239.123534,286.172994,141.629809,1788.698540
20090313091715820,5-12,11,4,45,11,25,4.955291e+05,8.162577,1.000000,-12.946318,...,400.342651,1503.307739,147783.377850,2.151481,0.000000,387.883249,163.407381,259.231600,160.728456,1981.353806
20090313571836404,0-4,10,4,22,6,12,8.585346e+04,1.767857,0.000000,-5.028426,...,331.384613,1580.714233,51414.021707,1.315070,0.000000,452.898668,176.604685,246.447643,135.253613,1743.134314
20090313571836404,13-22,10,3,52,13,34,9.303076e+05,17.438776,-1.000000,-143.454117,...,377.251343,1439.666626,141807.362262,2.313383,-1.000000,595.751439,223.138106,243.399010,100.641999,2179.714645
20090313571836404,5-12,11,5,41,11,22,3.726123e+05,8.103306,2.571429,-74.492401,...,345.865479,1374.222168,90376.548579,2.105532,0.534522,374.729025,143.582036,222.400730,121.868744,1500.543335
20090314035813970,0-4,11,4,26,6,19,1.917898e+05,1.733766,0.000000,25.017113,...,311.836731,5996.500000,102375.338919,1.215597,0.000000,431.772386,209.019720,228.057491,155.021344,5603.987571
20090314035813970,13-22,11,4,53,13,36,1.938534e+06,17.908163,5.000000,-92.213127,...,333.680695,1788.921021,250166.633941,2.483017,0.000000,534.709934,251.741213,204.685628,129.856742,2786.089232
20090314035813970,5-12,11,6,43,11,23,8.029432e+05,8.247706,0.600000,34.945751,...,305.350159,2049.965576,201437.350764,2.231217,0.547723,338.801003,173.000836,196.829694,150.898610,3374.977465
20090314121766812,0-4,11,4,26,7,15,1.776702e+05,1.872727,0.300000,125.841263,...,355.045441,1603.400024,106112.658389,1.316702,0.483046,418.706679,183.290271,226.228468,145.237166,2617.938213
20090314121766812,13-22,11,4,57,12,35,1.797501e+06,17.750000,4.814815,-108.547020,...,386.876740,1013.456116,222102.216341,2.378678,0.681460,601.251972,265.701478,245.732398,134.843590,1805.020578
20090314121766812,5-12,11,4,45,11,23,7.220301e+05,8.093506,1.480000,-29.410238,...,362.656616,1641.134644,173543.699669,2.237601,0.770281,400.038903,162.431719,238.747023,138.927755,2858.228438
20090314221187252,0-4,11,4,23,6,14,8.265341e+04,2.180952,0.000000,-12.076740,...,371.616913,1311.375000,39147.712955,1.224010,0.000000,450.837092,157.648310,274.736244,120.795271,1007.462149
20090314221187252,13-22,11,4,67,16,37,1.800902e+06,19.090367,5.416667,-102.997398,...,395.912140,1542.428589,738421.658487,2.397144,0.880547,595.405764,243.548286,284.763155,124.487500,2087.449232
20090314221187252,5-12,11,4,40,11,23,3.374062e+05,8.209302,1.888889,-54.359737,...,349.670258,1675.428589,78927.856965,2.146170,1.054093,369.644225,163.391865,205.811630,135.400574,1824.321807
20090314363702160,0-4,9,3,21,7,11,1.117757e+05,2.068493,-1.000000,75.728584,...,349.748138,4768.000000,53982.127612,1.279318,-1.000000,465.955496,148.883343,269.449417,112.625169,8191.121603

In [14]:
def split_dataset(dataset, test_ratio=0.20):
    USER_LIST = dataset.index.unique()
    split = int(len(USER_LIST) * (1 - 0.20))
    return dataset.loc[USER_LIST[:split]], dataset.loc[USER_LIST[split:]]

train_x, valid_x = split_dataset(dataset_df)
print("{} examples in training, {} examples in testing.".format(
    len(train_x), len(valid_x)))

56547 examples in training, 14139 examples in testing.

In [15]:
tfdf.keras.get_all_models()

[tensorflow_decision_forests.keras.RandomForestModel,
 tensorflow_decision_forests.keras.GradientBoostedTreesModel,
 tensorflow_decision_forests.keras.CartModel,
 tensorflow_decision_forests.keras.DistributedGradientBoostedTreesModel]

In [16]:
# Fetch the unique list of user sessions in the validation dataset. We assigned
# `session_id` as the index of our feature engineered dataset. Hence fetching
# the unique values in the index column will give us a list of users in the
# validation set.
VALID_USER_LIST = valid_x.index.unique()

# Create a dataframe for storing the predictions of each question for all users
# in the validation set.
# For this, the required size of the data frame is:
# (no: of users in validation set  x no of questions).
# We will initialize all the predicted values in the data frame to zero.
# The dataframe's index column is the user `session_id`s.
prediction_df = pd.DataFrame(data=np.zeros((len(VALID_USER_LIST),18)), index=VALID_USER_LIST)

# Create an empty dictionary to store the models created for each question.
models = {}

# Create an empty dictionary to store the evaluation score for each question.
evaluation_dict ={}

In [26]:
for q_no in range(1,19):

    # Select level group for the question based on the q_no.
    if q_no<=3: grp = '0-4'
    elif q_no<=13: grp = '5-12'
    elif q_no<=22: grp = '13-22'
    print("### q_no", q_no, "grp", grp)


    # Filter the rows in the datasets based on the selected level group.
    train_df = train_x.loc[train_x.level_group == grp]
    train_users = train_df.index.values
    valid_df = valid_x.loc[valid_x.level_group == grp]
    valid_users = valid_df.index.values

    # Select the labels for the related q_no.
    train_labels = labels.loc[labels.q==q_no].set_index('session').loc[train_users]
    valid_labels = labels.loc[labels.q==q_no].set_index('session').loc[valid_users]

    # Add the label to the filtered datasets.
    train_df["correct"] = train_labels["correct"]
    valid_df["correct"] = valid_labels["correct"]

    # There's one more step required before we can train the model.
    # We need to convert the datatset from Pandas format (pd.DataFrame)
    # into TensorFlow Datasets format (tf.data.Dataset).
    # TensorFlow Datasets is a high performance data loading library
    # which is helpful when training neural networks with accelerators like GPUs and TPUs.
    # We are omitting `level_group`, since it is not needed for training anymore.
    train_ds = tfdf.keras.pd_dataframe_to_tf_dataset(train_df.loc[:, train_df.columns != 'level_group'], label="correct")
    valid_ds = tfdf.keras.pd_dataframe_to_tf_dataset(valid_df.loc[:, valid_df.columns != 'level_group'], label="correct")

    # We will now create the Gradient Boosted Trees Model with default settings.
    # By default the model is set to train for a classification task.
    gbtm = tfdf.keras.RandomForestModel(verbose=0)
    gbtm.compile(metrics=["accuracy"])

    # Train the model.
    gbtm.fit(x=train_ds)

    # Store the model
    models[f'{grp}_{q_no}'] = gbtm

    # Evaluate the trained model on the validation dataset and store the
    # evaluation accuracy in the `evaluation_dict`.
    inspector = gbtm.make_inspector()
    inspector.evaluation()
    evaluation = gbtm.evaluate(x=valid_ds,return_dict=True)
    evaluation_dict[q_no] = evaluation["accuracy"]

    # Use the trained model to make predictions on the validation dataset and
    # store the predicted values in the `prediction_df` dataframe.
    predict = gbtm.predict(x=valid_ds)
    prediction_df.loc[valid_users, q_no-1] = predict.flatten()

### q_no 1 grp 0-4

<ipython-input-26-0f1ab6e5c745>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["correct"] = train_labels["correct"]
<ipython-input-26-0f1ab6e5c745>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_df["correct"] = valid_labels["correct"]

5/5 [==============================] - 1s 70ms/step - loss: 0.0000e+00 - accuracy: 0.7331
5/5 [==============================] - 0s 67ms/step
### q_no 2 grp 0-4

<ipython-input-26-0f1ab6e5c745>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["correct"] = train_labels["correct"]
<ipython-input-26-0f1ab6e5c745>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_df["correct"] = valid_labels["correct"]

5/5 [==============================] - 0s 43ms/step - loss: 0.0000e+00 - accuracy: 0.9756
5/5 [==============================] - 0s 48ms/step
### q_no 3 grp 0-4

<ipython-input-26-0f1ab6e5c745>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["correct"] = train_labels["correct"]
<ipython-input-26-0f1ab6e5c745>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_df["correct"] = valid_labels["correct"]

5/5 [==============================] - 0s 58ms/step - loss: 0.0000e+00 - accuracy: 0.9351
5/5 [==============================] - 0s 48ms/step
### q_no 4 grp 5-12

<ipython-input-26-0f1ab6e5c745>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["correct"] = train_labels["correct"]
<ipython-input-26-0f1ab6e5c745>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_df["correct"] = valid_labels["correct"]

5/5 [==============================] - 0s 61ms/step - loss: 0.0000e+00 - accuracy: 0.7952
5/5 [==============================] - 0s 75ms/step
### q_no 5 grp 5-12

<ipython-input-26-0f1ab6e5c745>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["correct"] = train_labels["correct"]
<ipython-input-26-0f1ab6e5c745>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_df["correct"] = valid_labels["correct"]

5/5 [==============================] - 1s 73ms/step - loss: 0.0000e+00 - accuracy: 0.6281
5/5 [==============================] - 0s 78ms/step
### q_no 6 grp 5-12

<ipython-input-26-0f1ab6e5c745>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["correct"] = train_labels["correct"]
<ipython-input-26-0f1ab6e5c745>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_df["correct"] = valid_labels["correct"]

5/5 [==============================] - 1s 69ms/step - loss: 0.0000e+00 - accuracy: 0.7882
5/5 [==============================] - 0s 71ms/step
### q_no 7 grp 5-12

<ipython-input-26-0f1ab6e5c745>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["correct"] = train_labels["correct"]
<ipython-input-26-0f1ab6e5c745>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_df["correct"] = valid_labels["correct"]

5/5 [==============================] - 1s 76ms/step - loss: 0.0000e+00 - accuracy: 0.7462
5/5 [==============================] - 0s 67ms/step
### q_no 8 grp 5-12

<ipython-input-26-0f1ab6e5c745>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["correct"] = train_labels["correct"]
<ipython-input-26-0f1ab6e5c745>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_df["correct"] = valid_labels["correct"]

5/5 [==============================] - 0s 65ms/step - loss: 0.0000e+00 - accuracy: 0.6395
5/5 [==============================] - 0s 60ms/step
### q_no 9 grp 5-12

<ipython-input-26-0f1ab6e5c745>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["correct"] = train_labels["correct"]
<ipython-input-26-0f1ab6e5c745>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_df["correct"] = valid_labels["correct"]

5/5 [==============================] - 0s 63ms/step - loss: 0.0000e+00 - accuracy: 0.7679
5/5 [==============================] - 0s 62ms/step
### q_no 10 grp 5-12

<ipython-input-26-0f1ab6e5c745>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["correct"] = train_labels["correct"]
<ipython-input-26-0f1ab6e5c745>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_df["correct"] = valid_labels["correct"]

5/5 [==============================] - 0s 64ms/step - loss: 0.0000e+00 - accuracy: 0.5986
5/5 [==============================] - 0s 65ms/step
### q_no 11 grp 5-12

<ipython-input-26-0f1ab6e5c745>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["correct"] = train_labels["correct"]
<ipython-input-26-0f1ab6e5c745>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_df["correct"] = valid_labels["correct"]

5/5 [==============================] - 0s 66ms/step - loss: 0.0000e+00 - accuracy: 0.6582
5/5 [==============================] - 0s 71ms/step
### q_no 12 grp 5-12

<ipython-input-26-0f1ab6e5c745>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["correct"] = train_labels["correct"]
<ipython-input-26-0f1ab6e5c745>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_df["correct"] = valid_labels["correct"]

5/5 [==============================] - 0s 64ms/step - loss: 0.0000e+00 - accuracy: 0.8699
5/5 [==============================] - 0s 56ms/step
### q_no 13 grp 5-12

<ipython-input-26-0f1ab6e5c745>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["correct"] = train_labels["correct"]
<ipython-input-26-0f1ab6e5c745>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_df["correct"] = valid_labels["correct"]

5/5 [==============================] - 0s 62ms/step - loss: 0.0000e+00 - accuracy: 0.7197
5/5 [==============================] - 0s 65ms/step
### q_no 14 grp 13-22

<ipython-input-26-0f1ab6e5c745>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["correct"] = train_labels["correct"]
<ipython-input-26-0f1ab6e5c745>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_df["correct"] = valid_labels["correct"]

5/5 [==============================] - 1s 74ms/step - loss: 0.0000e+00 - accuracy: 0.7335
5/5 [==============================] - 2s 470ms/step
### q_no 15 grp 13-22

<ipython-input-26-0f1ab6e5c745>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["correct"] = train_labels["correct"]
<ipython-input-26-0f1ab6e5c745>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_df["correct"] = valid_labels["correct"]

5/5 [==============================] - 1s 76ms/step - loss: 0.0000e+00 - accuracy: 0.6109
5/5 [==============================] - 1s 81ms/step
### q_no 16 grp 13-22

<ipython-input-26-0f1ab6e5c745>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["correct"] = train_labels["correct"]
<ipython-input-26-0f1ab6e5c745>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_df["correct"] = valid_labels["correct"]

5/5 [==============================] - 0s 61ms/step - loss: 0.0000e+00 - accuracy: 0.7488
5/5 [==============================] - 0s 56ms/step
### q_no 17 grp 13-22

<ipython-input-26-0f1ab6e5c745>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["correct"] = train_labels["correct"]
<ipython-input-26-0f1ab6e5c745>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_df["correct"] = valid_labels["correct"]

5/5 [==============================] - 0s 63ms/step - loss: 0.0000e+00 - accuracy: 0.7036
5/5 [==============================] - 0s 61ms/step
### q_no 18 grp 13-22

<ipython-input-26-0f1ab6e5c745>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["correct"] = train_labels["correct"]
<ipython-input-26-0f1ab6e5c745>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_df["correct"] = valid_labels["correct"]

5/5 [==============================] - 0s 56ms/step - loss: 0.0000e+00 - accuracy: 0.9516
5/5 [==============================] - 0s 56ms/step

In [27]:
for name, value in evaluation_dict.items():
  print(f"question {name}: accuracy {value:.4f}")

print("\nAverage accuracy", sum(evaluation_dict.values())/18)

question 1: accuracy 0.7331
question 2: accuracy 0.9756
question 3: accuracy 0.9351
question 4: accuracy 0.7952
question 5: accuracy 0.6281
question 6: accuracy 0.7882
question 7: accuracy 0.7462
question 8: accuracy 0.6395
question 9: accuracy 0.7679
question 10: accuracy 0.5986
question 11: accuracy 0.6582
question 12: accuracy 0.8699
question 13: accuracy 0.7197
question 14: accuracy 0.7335
question 15: accuracy 0.6109
question 16: accuracy 0.7488
question 17: accuracy 0.7036
question 18: accuracy 0.9516

Average accuracy 0.7557583020793067

In [28]:
inspector = models['0-4_1'].make_inspector()

print(f"Available variable importances:")
for importance in inspector.variable_importances().keys():
  print("\t", importance)
inspector.variable_importances()["NUM_AS_ROOT"]

Available variable importances:
	 NUM_AS_ROOT
	 SUM_SCORE
	 INV_MEAN_MIN_DEPTH
	 NUM_NODES

[("room_fqid_nunique" (1; #16), 69.0),
 ("name_nunique" (1; #9), 59.0),
 ("page_std" (1; #11), 45.0),
 ("page" (1; #10), 43.0),
 ("elapsed_time" (1; #1), 30.0),
 ("elapsed_time_std" (1; #2), 19.0),
 ("event_name_nunique" (1; #3), 16.0),
 ("level" (1; #7), 10.0),
 ("text_fqid_nunique" (1; #21), 5.0),
 ("level_std" (1; #8), 2.0),
 ("fqid_nunique" (1; #4), 1.0),
 ("screen_coor_y_std" (1; #20), 1.0)]

In [32]:
true_df = pd.DataFrame(data=np.zeros((len(VALID_USER_LIST),18)), index=VALID_USER_LIST)
for i in range(18):
    # Get the true labels.
    tmp = labels.loc[labels.q == i+1].set_index('session').loc[VALID_USER_LIST]
    true_df[i] = tmp.correct.values

max_score = 0; best_threshold = 0

# Loop through threshold values from 0.4 to 0.8 and select the threshold with
# the highest `F1 score`.
# using uniform threashold = 0.5 for the baseline


# for threshold in np.arange(0.4,0.8,0.01):
#     metric = tf.keras.metrics.F1Score(average="macro",threshold=threshold)
#     y_true = tf.one_hot(true_df.values.reshape((-1)), depth=2)
#     y_pred = tf.one_hot((prediction_df.values.reshape((-1))>threshold).astype('int'), depth=2)
#     metric.update_state(y_true, y_pred)
#     f1_score = metric.result().numpy()
#     if f1_score > max_score:
#         max_score = f1_score
#         best_threshold = threshold
metric = tf.keras.metrics.F1Score(average="macro",threshold=0.5)
y_true = tf.one_hot(true_df.values.reshape((-1)), depth=2)
y_pred = tf.one_hot((prediction_df.values.reshape((-1))>0.5).astype('int'), depth=2)
metric.update_state(y_true, y_pred)
f1_score = metric.result().numpy()


print("threshold ", 0.5, "\tF1 score ", f1_score)

threshold  0.5 	F1 score  0.6320787